.page-message{
  @mixin radius-box($radius: 6px,$bg: rgba(0,0,0,.4)){
    border-radius: $radius;
    background: $bg;
    text-align: center;
    padding: 6px 8px;
    line-height: 1.5;
    color: #fff;
  }
  background: #f4f4f5;
  .inner{
    padding: 15px;
  }
  .time-box{
    background: $g-color-grey;
    @include radius-box();
    margin: 5px auto;
    width: 140px;
    line-height: 20px;
  }
  .message-item-list{
    @include box-shadow();
    background: #fff;
    border: solid 1px $g-color-border-grey;
    padding: 14px;
    border-radius: 6px;
    margin: 15px 0;
    position: relative;
    .status{
      display: inline-block;
      @include radius-box();
      margin: 0 0 10px 0;
      height: 20px;
      line-height: 20px;
      font-size: 12px;
      padding: 0 6px;
    }
    .status-red{
      @extend .status;
      background: $g-color-red;
    }
    .cont{
      line-height: 34px;
    }
    .icon-trash{
      position: absolute;
      right: 10px;
      top: 10px;
      color: $g-font-color-grey;
    }
  }
}
.page-msg-detail{
  .g-btn{
    position: absolute;
    width: 90%;
    bottom: 0;
    left: 5%;
  }
}