<ion-view class="page-message">
  <ion-content class="inner">
    <div ng-repeat="lists in msgList">
      <p class="time-box">{{lists.time | date: 'yyyy-mm-dd HH:mm'}}</p>
      <div ng-repeat="list in lists.items" class="message-item-list" ng-click="showDetail(list)">
        <p class="status" ng-class="{'status-red': !list.readFlag}">{{list.timeFlag | msgStatus}}</p>
        <p class="cont">{{list.id}} {{list.cont}}</p>
        <i class="iconfont icon-trash" ng-click="showConfirm($event, list.id)"></i>
      </div>
    </div>

    <div class="no-data" ng-show="empty">
      empty
    </div>

    <ion-infinite-scroll
        ng-if="hasData"
        on-infinite="loadMore()"
        distance="1%">
    </ion-infinite-scroll>
  </ion-content>

</ion-view>

<script id="msg-modal.html" type="text/ng-template">
  <ion-modal-view class="page-msg-detail">
    <ion-content>
      <h4>会员星级体系全新推出</h4>
      <p>{{currentDetail.cont}}</p>
      <div class="content">
        <p>content</p>
      </div>
    </ion-content>
    <a class="g-btn">删除</a>
  </ion-modal-view>
</script>