<ion-view title="已收货详单" class="page-order-common" g-hide-tabs='true'>
  <ion-content class="m-cont-bottom">
    <div class="m-card">
      <div class="card-hd">
        <p>落槌价</p>
        <p class="g-highlight-red font-l">5,0000</p>
        <span class="status g-highlight-red">已结算</span>
      </div>
      <div class="card-bd">
        <ul>
          <li>
            <p>订单号</p>
            <p>201900000330303003030</p>
          </li>
          <li>
            <p>竞得时间</p>
            <p>2015-02-33 10:10:10</p>
          </li>
          <li>
            <p>拍品名称</p>
            <p><span class="two-ellipsis">是事实上事实上事实上是事实上事实上事实上事实上是事实上事实上事实上事实上是事实上事实上事实上事实上</span></p>
          </li>
          <li>
            <p>排行佣金</p>
            <p>14%</p>
          </li>
          <li>
            <p>交易货币</p>
            <p>CNY</p>
          </li>
          <li>
            <p>已付款</p>
            <p>&yen; 6,000</p>
          </li>
          <li>
            <p>实际付款</p>
            <p>&yen; 4,999</p>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
  <div class="m-detail-footer">
    <a class="g-btn g-btn-white g-btn-s">查看物流</a>
    <a class="g-btn g-btn-s">退货</a>
  </div>
</ion-view>