<ion-view title="物流信息" class="page-order-common page-deliver" g-hide-tabs='true'>
  <ion-content>
    <div class="m-detail-header">
      <span class="lf">物流号：1233333333232</span>
      <span class="rt"><a class="g-btn g-btn-s">全部退货</a></span>
    </div>
    <div class="m-info-list">
      <ul>
        <li>
          <span>运单号码</span>
          <span>33333333</span>
        </li>
        <li>
          <span>运单号码</span>
          <span>方法反反复复反复反复反复分方法反反复复反复反复反复反复反复方法反反复复反复</span>
        </li>
        <li>
          <span>运单号码</span>
          <span>33333333</span>
        </li>
        <li>
          <span>运单号码</span>
          <span>33333333</span>
        </li>
      </ul>
    </div>
    <div class="goods-list" ng-class="{'goods-list-all': showFlag, 'goods-list-less': goodsListLess}">
      <div class="goods-box">
        <div class="goods-box-bd">
          <div class="m-goods-detail">
            <div class="img">
              <img src="">
            </div>
            <div class="cont">
              <h4>百年实打实的方法反反复复凤飞飞急急急急急急</h4>
              <div class="cont-bt">
                <p class="price">
                  <span>成交价</span>
                  <span class="g-highlight-red">&yen;36,000</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="goods-box-bt">
          <a class="g-btn g-btn-s">退货</a>
        </div>
      </div>
      <div class="goods-box">
        <div class="goods-box-bd">
          <div class="m-goods-detail">
            <div class="img">
              <img src="">
            </div>
            <div class="cont">
              <h4>百年实打实的方法反反复复凤飞飞急急急急急急</h4>
              <div class="cont-bt">
                <p class="price">
                  <span>成交价</span>
                  <span class="g-highlight-red">&yen;36,000</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="goods-box-bt">
          <a class="g-btn g-btn-s">退货</a>
        </div>
      </div>
      <div class="goods-box">
        <div class="goods-box-bd">
          <div class="m-goods-detail">
            <div class="img">
              <img src="">
            </div>
            <div class="cont">
              <h4>百年实打实的方法反反复复凤飞飞急急急急急急</h4>
              <div class="cont-bt">
                <p class="price">
                  <span>成交价</span>
                  <span class="g-highlight-red">&yen;36,000</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="goods-box-bt">
          <a class="g-btn g-btn-s">退货</a>
        </div>
      </div>
      <div class="goods-more" ng-click="showMore()">
        <p ng-show="!showFlag">余下2个拍品<i class="iconfont icon-arrow-bt"></i></p>
        <p ng-show="showFlag">收起<i class="iconfont icon-arrow"></i></p>
      </div>
    </div>
    <!--物流详情-->
    <div class="deliver-detail">
      <div class="m-info-list">
        <ul>
          <li>
            <span>运单号码</span>
            <span>33333333</span>
          </li>
          <li>
            <span>运单号码</span>
            <span>方法反反复复反复反复反复分方法反反复复反复反复反复反复反复方法反反复复反复</span>
          </li>
          <li>
            <span>运单号码</span>
            <span>33333333</span>
          </li>
          <li>
            <span>运单号码</span>
            <span>33333333</span>
          </li>
        </ul>
      </div>
      <div class="tracking">
        <div class="steps">
          <p class="step step1 status-done">
            <i class="iconfont icon-checking"></i>
            <b>待发货</b>
          </p>
          <p class="step step2 status-cur">
            <i class="iconfont icon-airplane"></i>
            <b>运输中</b>
          </p>
          <p class="step step3">
            <i class="iconfont icon-deliver"></i>
            <b>配送</b>
          </p>
          <p class="step step4">
            <i class="iconfont icon-delivered"></i>
            <b>已签收</b>
          </p>
        </div>
        <div class="m-pos">
          <ul>
            <li class="status-pos-cur">
              <p>快件在惺惺惜惺惺，正转运至xxxxx</p>
              <span>2015-02-33 21:22:08</span>
            </li>
            <li>
              <p>快件在惺惺惜惺惺，正转运至xxxxx</p>
              <span>2015-02-33 21:22:08</span>
            </li>
            <li>
              <p>订单已发出</p>
              <span>2015-02-33 21:22:08</span>
            </li>
          </ul>
        </div>
        <div class="tip">
          <p>以上为快递公司原文信息!</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>