.cando-style{
  color:red;
  background: #ffffff;
}
.chats-style{
  font-size: 14px;
  color: gray;
  text-align: center;
  background: red;

}
.page-dash{
  $color: #aaa;
  .dash-style{
    color: $g-font-color;
  }
  .color-cash{
    color: #fff;
    background: red;
    font-size: 18px;
  }
}