@font-face {font-family: "iconfont";
  src: url('#{$app-font-path}/iconfont.eot?t=1465795447'); /* IE9*/
  src: url('#{$app-font-path}/iconfont.eot?t=1465795447#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$app-font-path}/iconfont.woff?t=1465795447') format('woff'), /* chrome, firefox */
  url('#{$app-font-path}/iconfont.ttf?t=1465795447') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('#{$app-font-path}/iconfont.svg?t=1465795447#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-des:before { content: "\e602"; }
.icon-send:before { content: "\e600"; }
.icon-arrow:before { content: "\e603"; }
.icon-cash:before { content: "\e604"; }
.icon-eye:before { content: "\e605"; }
.icon-notice:before { content: "\e606"; }
.icon-fresh-note:before { content: "\e607"; }
.icon-account:before { content: "\e608"; }
.icon-kind:before { content: "\e609"; }
.icon-home:before { content: "\e60a"; }
.icon-heart:before { content: "\e60b"; }
.icon-star:before { content: "\e60c"; }
.icon-alarm:before { content: "\e60d"; }
.icon-signed:before { content: "\e60e"; }
.icon-clock:before { content: "\e60f"; }
.icon-service:before { content: "\e610"; }
.icon-hammer:before { content: "\e611"; }
.icon-asc:before { content: "\e612"; }
.icon-message:before { content: "\e613"; }
.icon-tag:before { content: "\e614"; }
.icon-pic:before { content: "\e615"; }
.icon-search:before { content: "\e616"; }
.icon-setting:before { content: "\e617"; }
.icon-bell:before { content: "\e618"; }
.icon-heart-solid:before { content: "\e619"; }
.icon-address:before { content: "\e61a"; }
.icon-group:before { content: "\e61b"; }
.icon-check:before { content: "\e601"; }
.icon-chat:before { content: "\e61c"; }
.icon-article:before { content: "\e61d"; }
.icon-edit:before { content: "\e61e"; }
.icon-trash:before { content: "\e61f"; }
.icon-lock:before { content: "\e620"; }
.icon-phone:before { content: "\e621"; }
.icon-account-active:before { content: "\e622"; }
.icon-home-active:before { content: "\e623"; }
.icon-kind-active:before { content: "\e624"; }
.icon-cash-bag:before { content: "\e625"; }
.icon-icon-dai:before { content: "\e626"; }
.icon-info:before { content: "\e629"; }
.icon-sort:before { content: "\e62a"; }
.icon-checking:before { content: "\e62b"; }
.icon-airplane:before { content: "\e62c"; }
.icon-deliver:before { content: "\e62d"; }
.icon-delivered:before { content: "\e62e"; }

//右箭头
.icon-arrow-rt{
  display: inline-block;
  font-size: 12px;
  transform: scale(.8) rotate(90deg);
}
//下箭头
.icon-arrow-bt{
  &:before{
    content: "\e603";
  }
  display: inline-block;
  font-size: 12px;
  transform: scale(.8) rotate(180deg);
}