.page-tabs{
  .tab-nav{
    .iconfont{
      font-size: 24px;
      padding-top: 10px;
    }
    .tab-title{
      font-size: 12px;
    }
    .tab-item-active{
      color: #fc5759
    }
  }
}